{% extends 'axf/base.html' %}
{% load static from staticfiles %}
{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'mine/css/login.css' %}"/>
{% endblock linkscript %}
{% block base %}
    <div id="login">
        <a href="/mine/">&lt;返回</a>
        <form action="/login/" method="post">
            {% csrf_token %}
            <div class="input-group">
{#                <span class="input-group-addon glyphicon glyphicon-user"></span>#}
{#                <input id="accunt" type="text" class="form-control" placeholder="账号长度为6到12个字" aria-describedby="basic-addon1" name="userAccount">#}
                <label>用户名：</label>
                {{ form.username }}
                <br />
                {% if error.username.0 %}
                    <span>{{ error.username.0 }}</span>
                {% endif %}
            </div>
            <div class="input-group">
                <label>密码：</label>
                {{ form.password }}
                <br />
                {% if error.password.0 %}
                    <span>{{ error.password.0 }}</span>
                {% endif %}
            </div>
{#            <div class="input-group">#}
{#            <span class="input-group-addon glyphicon glyphicon-user"></span>#}
{#            <input id="accunt" type="text" class="form-control" placeholder="账号长度为6到12个字符" aria-describedby="basic-addon1" name="userAccount">#}
{#            </div>#}
{#            <span id="accunterr" class="error">账号格式输入错误</span>#}
{#            <span id="checkerr" class="error">账号已被占用，请重新输入</span>#}
{#            <br/>#}
{#            <div class="input-group">#}
{#                <span class="input-group-addon">密码</span>#}
{#                <input id="pass" type="password" class="form-control" placeholder="密码长度为6~16个字符" aria-describedby="basic-addon1" name="userPass">#}
{#            </div>#}
{#            <span id="passerr" class="error">密码格式输入错误</span>#}
            <div>
                <input type="submit" class="btn btn-primary" value="提交">
            </div>
        </form>
    </div>
{% endblock base %}